# Data Cleaning with Pandas - products.csv

In [79]:
import pandas as pd

In [81]:
# orders.csv
#url = "https://drive.google.com/file/d/1Vu0q91qZw6lqhIqbjoXYvYAQTmVHh6uZ/view?usp=sharing" 
#path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
#orders = pd.read_csv(path)

# orderlines.csv
#url = "https://drive.google.com/file/d/1FYhN_2AzTBFuWcfHaRuKcuCE6CWXsWtG/view?usp=sharing" 
#path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
#orderlines = pd.read_csv(path)

# products.csv
#url = "https://drive.google.com/file/d/1afxwDXfl-7cQ_qLwyDitfcCx3u7WMvkU/view?usp=sharing" 
#path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
#products = pd.read_csv(path)

products = pd.read_csv("products_cl.csv")

In [89]:
products.price.astype(str).str.contains("\d+\.\d\d\d").value_counts()

False    9992
True      165
Name: price, dtype: int64

## 1. Findings from Data Exploration of products.csv:

### A)&nbsp; Check .info() 
.shape() and .info() and .duplicated().sum() and .isna().sum()

**INFO:**
- [x] ~There are 19,326 products (rows) and 7 columns --> NOW (10580, 7)~ --> NOW (10157, 7)
- [x] ~`sku` is not unique!~ --> only one value is double, but not a duplicate
- [ ] `desc` has <10 missing values
- [ ] `type` has 50 missing values
- [x] `id` is type object, because it contains 3 letters followed by 4 numbers
**TODO: ~`sku` is by far not unique! - There are missing prices - `price` should be float~**
- [x] ~There are only 10579 unique product-ids (column `sku`) and in total 19,000 entries. Do we have duplicates?~ --> Duplicates have been removed
- [x] ~`price` has 46 missing values~
- [x] ~`price` should be type float~
- [x] ~`promo_price` should be type float~ --> has been deleted

### B)&nbsp; Raw Data

**INFO:**
- `type` contains numbers. Among the first 20 rows there are either 4 digit numbers or 8 digit numbers. 
- `sku` has 3 letters, followed by a 4 digit number. 
- `name`s are relatively long and have special characters like / and '' and ()



**TODO: ~`price` = 6.999.003 does not work'~ - column `type` Value 1,44E+10**
- `type` has difficult integers. Some values in the tail have e-numbers. 1,44E+11 appears several times within the last 20 rows --> There are 235 rows with this pattern, Seems mainly to happen with sku's starting with REP

### C) Numerical Columns


- [x] ~`in_stock` should be boolean~ --> has been converted

### D) Categorical Columns

**INFO:**
- `sku` has values that appear 58 times. The max 5 of themall start with PAC103.
- `type` has a value that appears more than 6000 times.
- `type` has the majority of values that are assigned only very few times. 
- `type`s 1/6th values cover most products.
- `price`has 2690 unique values (out of 19,000 rows)
- ~`promo_price` has 4614 unique values (out of 19,000 rows)~


**TODO:**
- [ ] `price`s needs to be explored when the column is changed to numerical 
- [x] ~`type` can be explored when the column is converted to numerical datatype~

## 2.&nbsp; Remove Duplicates
We can check for duplicates using the pandas [.duplicated()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html) method. 

We can then delete these rows, if we wish, using [.drop_duplicates()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)

In [3]:
# products
products.duplicated().sum()

8746

In [49]:
# showing me the duplicated rows
# products.loc[products.sku.duplicated(), :]

In [5]:
# remove duplicates permanently
products = products.drop_duplicates()

Normally, if there are some duplicates, we drop the extra rows.

In [8]:
#checking the new shape of the table
products.shape

(10580, 7)

In [9]:
products.nunique()

sku            10579
name           10373
desc            7098
price           2690
promo_price     4614
in_stock           2
type             126
dtype: int64

In [39]:
products.duplicated().sum()

0

**NOTE**
- [ ] nunique() shows 10579 values and the dataframe has 10580 rows. One value might still be double - even though it is not found with duplicated().sum()

## 3.&nbsp; Deal with Missing Values

### 3.1.&nbsp; Products
* [x] `price` has 46 missing values

In [77]:
percentage = (products.price.isna().sum() / products.shape[0])*100

print(f"46 missing values represents {percentage.round(5)}% of the rows in our DataFrame")

46 missing values represents 0.0% of the rows in our DataFrame

As there is such a tiny amount of missing values, we will simply delete these rows, as we have enough data without them.

In [12]:
products = products.loc[~products.price.isna(), :]

Should you have a significant number of missing values in the future, you have a choice: 
+ you can impute the values
+ you can take the values from other DataFrames, if they are present there
+ you can delete the values
+ or any number of other creative solutions

Please, always consider how much time you have on your project, and what impact your method of choice will have on your final assesment.

## 4.&nbsp; Correct Datatypes

### 4.1.&nbsp; Intro
How to convert to_datetime() and to_numeric()

In [10]:
orders["created_date"] = pd.to_datetime(orders["created_date"])
orderlines["unit_price"] = pd.to_numeric(orderlines["unit_price"])

In [13]:
orders.info() # shows the changed datatype

### 4.2.&nbsp; Products

* [x] `price` should be type float
* [x] `promo_price` has been deleted
* [x] `in_stock` should be type boolean

#### 4.2.1.&nbsp; `price`

* [x] `price` should be type float

In [15]:
#products["price"] = pd.to_numeric(products["price"]) # does not work - unable to parse 1.639.792

In [16]:
products.price.str.contains("\d+\.\d+\.\d+").value_counts()

False    10157
True       377
Name: price, dtype: int64

In [19]:
percentage = (
               (products.price.str.contains("\d+\.\d+\.\d+")
                .value_counts()[1] 
                / 
                products.shape[0])*100
             ).round(2)
print(f"The 2 dot problem represents {percentage}% of the rows in our DataFrame")

The 2 dot problem represents 3.58% of the rows in our DataFrame

Some thinking and analysis and **final decision** on how to proceed:
* [x] **exclude from analysis**
* [ ] asking the products to be checked by experts of prices
* [ ] further analysing the impact of these products on overall revenue
* [ ] looking at the raw data and trying to figure out a solution

In [21]:
#Exclude from analysis
two_dot_order_ids_list = products.loc[products.price.str.contains("\d+\.\d+\.\d+"), "sku"]
products = products.loc[~products.sku.isin(two_dot_order_ids_list)]

In [24]:
products.shape #shows the new number of rows

(10157, 7)

In [25]:
products["price"] = pd.to_numeric(products["price"]) #changes the datatype

In [26]:
products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10157 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          10157 non-null  object
 1   name         10157 non-null  object
 2   desc         10151 non-null  object
 3   price        10157 non-null  float64
 4   promo_price  10157 non-null  object
 5   in_stock     10157 non-null  int64
 6   type         10110 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 634.8+ KB

**INFO**
- [x] `price` is now type float

#### 4.2.2.&nbsp;`promo_price`

* [x] `promo_price` needs to be changed to float --> has been deleted

In [29]:
#products["promo_price"] = pd.to_numeric(products["promo_price"]) # does not work - unable to parse 1.639.792

As you can see when we try to convert `unit_price` to a numerical datatype, we receive a `ValueError` telling us that pandas doesn't understand the number `1.137.99`. This is probably because numbers cannot have 2 decimal points. Let's see if there are any other numbers like this.

In [30]:
products.promo_price.str.contains("\d+\.\d+\.\d+").value_counts()

False    5836
True     4321
Name: promo_price, dtype: int64

In [31]:
percentage = (
               (products.promo_price.str.contains("\d+\.\d+\.\d+")
                .value_counts()[1] 
                / products.shape[0])*100
              ).round(2)
print(f"The 2 dot problem represents {percentage}% of the rows in our DataFrame")

The 2 dot problem represents 42.54% of the rows in our DataFrame

This is a bit of a tricky decision as 42.54% is a significant amount of our data... 

Some thinking and analysis and **final decision** on how to proceed:
* [ ] exclude rows from analysis
* [x] **exclude column from analysis**
* [ ] asking the products to be checked by experts of prices
* [ ] further analysing the impact of these products on overall revenue
* [ ] looking at the raw data and trying to figure out a solution

In [50]:
#two_dot_sku_list = products.loc[products.promo_price.str.contains("\d+\.\d+\.\d+"), "sku"]
#products = products.loc[~products.sku.isin(two_dot_sku_list)]

#instead of removing the rows, we can remove the column
products = products.drop(columns = 'promo_price', axis=1)

In [51]:
products.shape

(10157, 6)

Now convert the datatype (if the column still exists)

In [52]:
# NO NEED - COLUMN DROPPED
#orderlines["unit_price"] = pd.to_numeric(orderlines["unit_price"])

* [x] `promo_price` is now deleted

#### 4.2.3.&nbsp; `in_stock`

* [x] `in_stock` should be type boolean

In [63]:
#orders["created_date"] = pd.to_datetime(orders["created_date"])
#orderlines["unit_price"] = pd.to_numeric(orderlines["unit_price"])

products["in_stock"] = products['in_stock'].astype(bool)
products.info()

,sku,name,desc,price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,True,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,False,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,False,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,False,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,True,1364

* [x] `in_stock` is now boolean

## 5. Safe File(s)
Now save the cleaned dataframes as csv files:

In [69]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html?highlight=to_csv

products.to_csv("products_cl.csv", index=False)

### Download from colab:
#from google.colab import files
#files.download("products_cl.csv")

In [ ]:
# keep the rows and columns that have been dropped in a separate .csv

#products_excluded.to_csv("products_excluded.csv", index=False)
#products_excluded_column.tocsv("products_excluded_column.csv", index=False)