# Exploration of brands.csv

In [1]:
import pandas as pd

In [2]:
#url = "https://drive.google.com/file/d/1FYhN_2AzTBFuWcfHaRuKcuCE6CWXsWtG/view?usp=sharing" # orderlines.csv
#url = "https://drive.google.com/file/d/1Vu0q91qZw6lqhIqbjoXYvYAQTmVHh6uZ/view?usp=sharing" # orders.csv
#url = "https://drive.google.com/file/d/1afxwDXfl-7cQ_qLwyDitfcCx3u7WMvkU/view?usp=sharing" # products.csv
url = "https://drive.google.com/file/d/1m1ThDDIYRTTii-rqM5SEQjJ8McidJskD/view?usp=sharing" # brands.csv
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
brands_original = pd.read_csv(path)

#MAKE A COPY
brands = brands_original.copy()

## Check size, data-types and missing values with  .shape and .info()

In [3]:
brands.shape

(187, 2)

In [4]:
brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   short   187 non-null    object
 1   long    187 non-null    object
dtypes: object(2)
memory usage: 3.0+ KB

In [6]:
brands.long.nunique()
# check if everything is alphanumeric
#order.order_id.str.isalnum() --> only works on object-type

181

**INFO:**
- 187 rows and two columns
- 187 different brands in column 'short' and no duplicates
- 181 different brands in column 'long' so there have to be 6 duplicates.
- There are no missing values
- object-types seem ok

## Check raw data with .head() and .tail()

In [8]:
brands.tail(20)

    short              long
167   TPL           TP-Link
168   TRA          Trascend
169   TRI             Tribe
170   TRK            TrackR
171   TRN      Trunk Sleeve
172   TUC            Tucano
173   TWS      Twelve South
174   UAG  Urban Armor Gear
175   WAC             Wacom
176   WDT   Western Digital
177   WHO            Whoosh
178   WIK           Wikango
179   WIT          Withings
180   WOE            Wowewa
181   XDO           X-Doria
182   XOO            Xoopar
183   XRI            X-Rite
184   XTO             Xtorm
185   ZAG          ZaggKeys
186   ZEP              Zepp

**INFO:**
- 3 digit short acronym, which can have numbers in it (8MO)
- some longnames are double: Apple, Apple, and Bose, Bose. 
- The second entry for Bose has the acronym CAD - which is not very close
- There are blancs and dashes in the longnames

## Explore numerical columns with .hist and .describe()

In [10]:
#NO NUMERIC COLUMNS!
#orders.hist('total_paid', bins = 10, figsize= (8,10))

In [11]:
#orders.describe()

**INFO:**
There are no numeric columns in this dataset!

In [12]:
#orders.nlargest(100, "total_paid")

## Explore categorical columns with value_counts() and .plot.bar()

In [15]:
#0   short   187 non-null    object
#1   long    187 non-null    object

#--> so far there is no categorical variable such as status or anything with just a few groups.